{% extends 'base.html.twig' %}

{% block title %}{{ registration.title }}{% endblock %}

{% block body %}
    <h2>{{ registration.title }}</h2>

    {% set formView = registration.form.createView() %}

    {{ form_start(formView) }}
        {{ form_widget(formView) }}
        {% if registration.hasPreviousStep() %}
            {% set previousButtonConfiguration = registration.previousButtonConfiguration %}
            <a class="action" href="{{ previousButtonConfiguration.url }}">{{ previousButtonConfiguration.label }}</a>
        {% endif %}
        <button class="action" type="submit">{{ registration.submitLabel }}</button>
    {{ form_end(formView) }}

{% endblock %}

{% block bodyJavascripts %}
    <script>
        var isInterrupted = true;
        $(document).ready(function(){

            $('.action').on('click', function (e) {
                isInterrupted = false;
            });

            $(window).on('unload', function() {
                if(isInterrupted) {
                    $.cookie("{{ registration.interruptedCookieKey }}", {{ registration.stepNumber }}, { expires : {{ cookie_lifetime }} });
                }
            });
        });
    </script>
{% endblock %}