{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    Thank you for the registration.<br />

    Payment data id: {{ app.session.get('user_payment_data_id') }}
{% endblock %}