{% extends 'base.html.twig' %}

{% block body %}
    {% if registration.isFinished %}
        <a href="{{ path('app_start_again') }}">Start again</a>
    {% else %}
        <a href="{{ path('app_registration_step') }}">Register</a>
    {% endif %}
{% endblock %}