<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WMTest{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

        {% for label, messages in app.session.flashbag.all %}
            <div style="border: 2px solid red;padding: 10px;" class="alert-{{ label }}">
                {% for message in messages %}
                    {{ message }}{% if not loop.last %}<br />{% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
                integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
                crossorigin="anonymous"></script>
        {% block bodyJavascripts %}{% endblock %}
    </body>
</html>
